:root {
  --primary: black;
  --secondary: white;
  --aux: gray;
  --punch: orange;
  --background: white;
}

.dark {
  --primary: #eee;
  --secondary: #09171f;
  --aux: gray;
  --punch: #ff002f;
  --background: black;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  font-size: 16px;
  box-sizing: border-box;
  background-color: var(--background);
  color: var(--primary);
}

.App {
  width: calc(100vw - 10px);
  height: calc(100vh - 10px);
  padding: 5px;
}

.container {
  width: 80%;
  display: block;
  margin: 0 auto;
}
.container > div {
  margin: 1em;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

button {
  padding: 0.5em 1em;
  margin: 0.5em;
  background-color: var(--secondary);
  color: var(--primary);
  outline: 2px solid var(--primary);
  border: none;
  font-weight: bolder;
  cursor: pointer;
}
button:focus {
  text-decoration: underline;
  color: var(--punch);
}
button:hover {
  color: var(--secondary);
  background-color: var(--primary);
  outline: 2px solid var(--primary);
}
button:active {
  background-color: var(--punch);
}

.avatar {
  display: flex;
  align-items: center;
}

.avatar img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px double var(--primary);
  border-style: solid double dotted dashed;
  margin: 0 0.5rem;
}
